<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SONGIFY | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/"><h1>SONGIFY</h1></a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="content">
        <h1>404</h1>
        <p>Page not found</p>
        <a href="/">Go back to Home</a>
    </section>
</body>
</html>
